@import "colors";

.Introduction {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
  
  h2 {
    font-size: 2.5rem;
    border-bottom: 3px solid white;
    padding: 0px 2rem;
    height: 5rem;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.5em;
    text-align: center;
  }

  div {
    display: flex;
    padding: 1rem 2rem;
    color: $color_light;
    justify-content: center;

    &:first-of-type {
      color: white;
      text-align: right;
    }
  }
}

@media screen and (min-width: 750px) {
  .Introduction {
    grid-template-columns: 30% 70%;
    
    h2 {
      border-bottom: none;
      padding: 0;
    }

    p {
      text-align: left;
    }

    div {
      justify-content: flex-start;

      &:first-of-type {
        border-right: 3px solid white;
        justify-content: flex-end;
      }
    }
  }
}