@import "colors";

.AboutMe {
  height: 100vh;
}

.Introduction {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
  
  h2 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  div {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    color: $color_light;
    
    &:nth-of-type(1) {
      color: white;
    }
    
    &:nth-of-type(2) {
      gap: 0.8rem;
    }
  }
}

@media screen and (max-width: 749px) {
  .Introduction {

    h2 {
      padding: 0px 2rem;
    }

    p {
      text-align: center;
    }

    div {

      &:nth-of-type(1) {
        text-align: center;
      }

      &:nth-of-type(2) {
        padding-top: 2rem;
        border-top: 3px solid white;
      }
    }
  }
}

@media screen and (min-width: 750px) {
  .Introduction {
    grid-template-rows: auto;
    grid-template-columns: 30% 70%;
    
    div {

      &:nth-of-type(1) {
        text-align: right;
      }

      &:nth-of-type(2) {
        border-left: 3px solid white;
      }
    }
  }
}