.InfiniteScroll {
  display: flex;
  flex-direction: row;

  .Scroller {
    display: flex;
    flex-direction: row;
    animation: infiniteScroll linear infinite;

    h1 {
      color: inherit;
      white-space: nowrap;
    }
  }
}

@keyframes infiniteScroll {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}