@import "colors";

.Logo {
  position: fixed;
  top: 30vh;
  left: 10vw;

  font-size: 5rem;
  font-weight: 700;

  z-index: 2;
  
  & a {
    color: #0088ff;
    font-family: "Dancing Script";
  }
}

@media screen and (min-width: 750px) {
  .Logo {
    font-size: 8rem;
  }
}

@media screen and (min-width: 1100px) {
  
}