@import 'colors';

.ProjectCard {
  width: min(100%, 1000px);
  margin: auto;

  background-color: rgba(255,255,255,0.05);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 20px;
  padding: 20px;
  padding-bottom: 5px;
  border-radius: 10px;

  user-select: none;

  &:hover {
    cursor: pointer;
  }

  .Main {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    img {
      width: 210px;
      height: 150px;

      margin: auto;

      border-radius: 10px;
    }

    .Text {
      flex-grow: 1;
    
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 2rem;
    
      p {
        color: $color_light;
      }

      .Header {
        width: 100%;
      
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      
        h2 {
          font-size: 2rem;
        }
      
        h3 {
          font-size: 1.2rem;
          color: $color_accent3;
        }

        .Favourite {
          font-size: 1.1rem;
          padding: 0.2em 0.5em;
          color: $color_off;
          border: 2px solid $color_off;
          border-radius: 10px;
          white-space: nowrap;
        
          &.active {
            color: $color_gold_60;
            border-color: $color_gold_60;
            box-shadow: 0px 0px 8px $color_gold_60, inset 0px 0px 8px $color_gold_60;
          }
        }
      }

      .Tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
      
        p {
          padding: 5px 8px;
          color: $color_dark;
          background-color: $color_accent2;
        }
      }
    }
  }

  .Expander {
    display: flex;
    gap: 2rem;

    svg {
      flex-grow: 1;
      max-width: 50px;
    }

    > div {
      width: 100%;
      display: flex;
      flex-direction: column;

      > div {
        height: 100%;

        &:nth-of-type(1) {
          border-bottom: 3px solid white;
        }
      }
    }
  }
}

@media screen and (min-width: 750px) {
  .ProjectCard {
    .Main {
      flex-direction: row;

      .Text {
        margin-bottom: 0.5rem;
      }
    }

    &.reverse {
      .Main {
        flex-direction: row-reverse;
        
        .Header {
          flex-direction: row-reverse;
        }
        
        .Tags {
          justify-content: flex-end;
        }
        
        p {
          text-align: end;
        }
      }
    }
  }
}

@media screen and (min-width: 1100px) {
  .ProjectCard {
    .Main {
      img {
        width: 350px;
        height: 250px;
      }
    }
  }
}