@import 'colors';

.ProjectCard {
  min-height: 300px;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding: 20px;
  border: solid $color_accent1 3px;
  border-radius: 10px;

  img {
    width: 300px;
    height: 200px;

    margin: auto;

    border-radius: 10px;
  }

  &:hover {
    cursor: pointer;
  }
}

.Text {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;

  p {
    color: $color_light;
  }
}

.Header {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.2rem;
    color: $color_accent3;
  }
}

.Tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  p {
    padding: 5px 8px;
    color: $color_dark;
    background-color: $color_accent2;
  }
}

@media screen and (min-width: 750px) {
  .ProjectCard {
    flex-direction: row;

    img {
      width: 350px;
      height: 250px;
    }

    &.reverse {
      flex-direction: row-reverse;

      .Header {
        flex-direction: row-reverse;
      }

      .Tags {
        justify-content: flex-end;
      }

      p {
        text-align: end;
      }
    }
  }
}