$big: 80px;
$medium: 60px;
$small: 40px;

.Skills {
  margin-top: 20rem;

  display: flex;
  flex-direction: column;

  img {
    height: 100%;
    width: 100%;
  }

  .Header {
    position: relative;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .Title {
      height: 100%;
      width: 100%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      pointer-events: none;

      h2 {
        font-size: 6rem;
        letter-spacing: 1rem;
        opacity: 0.1;
      }
    }

    .List {
      height: 100%;
      display: grid;
      grid-template-columns: repeat(6, $small);
      grid-template-rows: repeat(3, $small);
      gap: 20px 20px;
    }
  }

  .Main {
    .Levels {
      height: 100%;
      display: flex;
      flex-grow: 1;
      flex-direction: row;
      justify-content: space-between;
      gap: 2vw;
    
      .Level {
        display: flex;
        align-items: center;
        flex-direction: column;
        
        width: 100%;
        padding-top: 1rem;

        background-color: rgba(255,255,255,0.05);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
        border-radius: 5px;

        &#Expert {
          background-color: rgba(255, 215, 0, 0.35);
          box-shadow: rgba(255, 215, 0, 0.35) 0px 0px 10px;
        }

        .LevelTitle {
          font-weight: bold;
          font-size: 0.9rem;
          margin-bottom: 1rem;
        }

        .LevelContent {
          display: grid;
          grid-template-columns: repeat(1, $small);
          gap: 5px 0px;
          margin-bottom: 1rem;

          div {
            width: $small;
            height: $small;
          }
        }
      }
    }
  }
}


@media screen and (min-width: 750px) {
  .Skills {
    .Header {
      margin-bottom: 5rem;

      .Title {
        h2 {
          font-size: 10rem;
          letter-spacing: 2rem;
        }
      }

      .List {
        grid-template-columns: repeat(8, $medium);
        grid-template-rows: repeat(2, $medium);
        gap: 20px 20px;
      }
    }

    .Main {
      .Levels {
        .Level {
          .LevelTitle {
            font-size: 1.2rem;
          }

          .LevelContent {
            grid-template-columns: repeat(2, $medium);
            gap: 10px 10px;

            div {
              width: $medium;
              height: $medium;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1100px) {
  .Skills {
    .Header {
      .Title {
        h2 {
          font-size: 15rem;
        }
      }

      .List {
        grid-template-columns: repeat(8, $big);
        grid-template-rows: repeat(2, $big);
        gap: 30px 30px;
      }
    }

    .Main {
      .Levels {
        .Level {
          .LevelContent {
            grid-template-columns: repeat(2, $big);
            gap: 20px 20px;

            div {
              width: $big;
              height: $big;
            }
          }
        }
      }
    }
  }
}