@import "colors";

.Container {
  position: relative;

  display: flex;
  justify-content: center;
}

.Tooltip {
  width: fit-content !important;
  height: fit-content !important;
  position: absolute;
  
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 10px;
  padding: 0.3em 0.5em;
  border-radius: 10px;
}