@import "colors";

.Welcome {
  position: relative;
  height: 80vh;
  pointer-events: none;
}

.Text {
  position: fixed;
  top: 60vh;
  right: 10vw;
}

.Scroll {
  position: fixed;
  bottom: 0;

  svg {
    width: 100px;
  }
}

@media screen and (min-width: 750px) {
  .Welcome {
    height: 50vh;
  }
}